<head><link rel="stylesheet" type="text/scss" href="quotes/quote_index.scss"></head>
<h1>Listing quotes</h1>
<div class="row"><button class="button button1"><%= link_to 'New Quote', new_quote_path %></button>
<button class="button button1"><%= link_to "Back to Home", controller: "sessions", action: "home"  %></button>
<a href="/home"></a></div>



    <% @quotes.each do |quote| %>
      <blockquote class="quote-card yellow-card" data-toggle="collapse" data-target="#<%= quote.id%>">
        <p>
          <%= quote.cite %>
        </p>

        <cite>
          <%= quote.progenitor %>
        </cite>
      </blockquote>
      <div id="<%= quote.id%>" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row">
            <p class="btn btn-primary"><%= link_to 'Show', quote %></p>
            <p class="btn btn-primary"> <%= link_to ' Edit', edit_quote_path(quote) %></p>
            <p class="btn btn-primary">  <%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </div>
        </div>
      </div>

    <% end %>


<br>


