<p id="notice"><%= notice %></p>

<p>
  <strong>Cite:</strong>
  <%= @quote.cite %>
</p>

<p>
  <strong>Progenitor:</strong>
  <%= @quote.progenitor %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @quote.classification %>
</p>
<p>
  <strong>Tags:</strong>
  <%= raw @quote.tag_list.map{ |t| link_to t, :controller=>"quotes", :action=>"tag", :tag => t }.join(', ') %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
