<h1>Listing publicfeeds</h1>

<ul class="activity-stream">
    <% @publicfeeds.each do |publicfeed| %>
      <li><i class="fa fa-users icon fa-2x"></i>
        <h4 class="titl"><b><%= publicfeed.title %></b></h4>
        <cite><%= publicfeed.content %> </cite>
        <p class="rate">Rating: <%= publicfeed.rate %></p>
      </li>

    <% end %>
</ul>
<br>


<%= link_to 'New Public Post', new_publicfeed_path %>
<%= link_to "Back to Home", controller: "sessions", action: "home"  %>

