<h1>Listing articles</h1>

<table>




  <section class="container">
    <div class="row">
      <tbody>
        <% @articles.each do |article| %>
          <article class="col-sm-3">
            <div class="thumbnail">
              <a href="#">
                <img src="<%= article.image.url(:medium)%>" ></a>
              <a href="#"><h3><%= article.title %></h3></a>
              <p>by: <%= article.author %></p>
              <p>tags: <%= raw article.tag_list.map { |t| link_to t, :controller=>"articles", :action=>"tag", :tag => t }.join(', ') %></p>
              <p>Class: <%= article.clssificaton %></p>
              <p><%= article.content %></p>
                <p><%= link_to 'Show', article %>
                  <%= link_to ' Edit', edit_article_path(article) %>
                  <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </div>
          </article>
        <% end %>
      </tbody>
    </div>
  </section>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
<%= link_to "Back to Home", controller: "sessions", action: "home"  %>
    <a href="/home"></a>
