<head><link rel="stylesheet" type="text/css" href="article_show.scss"></head>

<body class="sh-page">
<div class="wrap">
    <div class="thmbnail" data-toggle="collapse" data-target="#<%= @article.id%>">
      <img class="thmb-img" src="<%= @article.image.url(:medium)%>" align="left">

      <div class="title-blk">
        <h3><%= @article.title %></h3>
        <p>by: <%= @article.author %></p>
      </div>

      <br>
      <p class="contnt"><u><%= @article.content %></u></p>
      <p>Tags: <%= raw @article.tag_list.map { |t| link_to t, :controller=>"articles", :action=>"tag", :tag => t }.join(', ') %></p>
    </div>
    <div id="<%= @article.id%>" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          <p class="btn btn-primary">
            <% if can? :update, @article %>
                <%= link_to 'Edit', edit_article_path(@article) %>
            <% end %>|
          </p>
          <p class="btn btn-primary">
            <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        </div>
      </div>
    </div>
</div>

<%= link_to 'Back', articles_path %>
</body>