<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @article.image.url(:medium) %>
</p>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>


<p>
  <strong>Author:</strong>
  <%= @article.author %>
</p>
<p>
  <strong>Tags:</strong>
  <%= raw @article.tag_list.map { |t| link_to t, :controller=>"articles", :action=>"tag", :tag => t }.join(', ') %>


<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
